<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
</div>
<div style="text-align:center">
  <div>
    <p-autoComplete [(ngModel)]="dog" (completeMethod)="filterDogs($event)" field="breed" [size]="30" [minLength]="1"
      placeholder="Enter a dog Breed" matTooltip='Not sure what to look for? Try "Shiba"'></p-autoComplete>
    <br />
    <br />
    <div *ngFor="let dog of filteredDogs">
      <button mat-raised-button color='primary' type="button" class="btn space" (click)="getPic(dog)">
        {{ dog }}
      </button>
      <br />
      <br />
    </div>
    <br />
    <h4>or</h4>
    <button mat-raised-button color='accent' type="button" class="btn btn-primary left-space" (click)="getPic()"
      matTooltip="Gun shy? Click me for a random dog">
      Fetch Random
    </button>
  </div>
  <br />
  <div *ngIf="errorMessage">
    Ooops something went wrong....Please verify that you are able to visit<br />
    <a href="https://dog.ceo/dog-api/documentation/breed">Dog API</a>
  </div>
  <div>
    {{ imageTitle }}<br />
    <img class="bg" [src]="image" (click)="getPic(dog)" matTooltipPosition="above"
      matTooltip='Click image for another picture of the same breed' />
  </div>
</div>